/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
 background: url(/assets/59.jpeg) no-repeat;
}

#item-25877{
   .featured-article-image{
      background: url(Fault_S_01.jpg);
   }
}

#item-26094{
   .featured-article-image{
      background: url(Kindan_no_Byoutou_THE_ANIMATION_Desire.jpg);
   }
}

#item-26413{
   .featured-article-image{
      background: url(Pisu_Hame_05.jpg);
   }
}

#item-1579{
   .featured-article-image{
      background: url(Sex_Friend_2.jpg);
   }
}

#item-26104{
   .featured-article-image{
      background: url(Zettai_Junshu_Kyousei_Kozukuri_Kyokashou_01.jpg);
   }
}

#item-26061{
   .featured-article-image{
      background: url(Tentacle_and_Witches_-_04.jpg);
   }
}

#item-25834{
   .featured-article-image{
      background: url(High_School_dxd_S2_1.jpg);
   }
}

#item-25643{
   .featured-article-image{
      background: url(Kagaku_na_Yatsura_OAD_BD_01.jpg);
   }
}

#item-25633{
   .featured-article-image{
      background: url(Senran_Kagura_09.jpg);
   }
}

#item-26119{
   .featured-article-image{
      background: url(Kiss_X_Sis_OVA_08.jpg);
   }
}

#item-25927{
   .featured-article-image{
      background: url(Nana_to_Kaoru_OVA_01.jpg);
   }
}

#item-25847{
   .featured-article-image{
      background: url(History_Strongest_Disciple_Kenichi_OVA_-_03.jpg);
   }
}

#item-25847{
   .featured-article-image{
      background: url(History_Strongest_Disciple_Kenichi_OVA_-_03.jpg);
   }
}


#container {
    background: url(/assets/bg.png);
}

.border-form-div {
  max-width: 700px;
  padding: 5px 5px 5px;
  margin: 0 auto 5px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 5px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 3px;
  padding: 3px 3px;
  width: 60%;
}

.boarder{

  padding-top: 150px
}