@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url(http://themes.googleusercontent.com/static/fonts/comfortaa/v4/fND5XPYKrF2tQDwwfWZJI3hCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
