<div id="ft-content" style="background-image:url('');">
<div id="ft-lists" class="clearfix">
<div class="list-items">
<div class="h3 list-title">Latest on SD</div>
<div id="ftlistitems">
<ul>
<li>
<a title="Yohohohoho! I’m happy to present the best comedy ecchi battle romance… I mean High School DxD episode 14 or as some call it ova 02. Since the shareraw we used had the episode and preview in different videos the whole release in bundled up in a folder just so you guys know. We will re-release [...]" href="http://feedproxy.google.com/~r/subdesu/RPNF/~3/z5aQAJZtXlI/">High School DxD 14</a>
</li>
<li>
<a title="And here you go with your high quality borderline wincest show. We finally got around to fixing the encode so here you go with the release. Really sorry about the delay. Have fun watching. ATTENTION: Check the donation thing at the top right of the site if you wanna help the group by donating. Thank [...]" href="http://feedproxy.google.com/~r/subdesu/RPNF/~3/5rFRTlBjl_k/">KissxSis OVA 08 DVDRip</a>
</li>
<li>
<a title="So finally, thanks to Nawking, we’ve got this batch done. Here you go. Have fun watching them all. :D ATTENTION: Check the donation thing at the top right of the site if you wanna help the group by donating. Thank youRead more or go to download links. Link deleted? Report it here." href="http://feedproxy.google.com/~r/subdesu/RPNF/~3/msSRlI4U4Ok/">Senran Kagura Batch</a>
</li>
<li>
<a title="Yes, it feels good…to finally have this done. :) Really sorry for the long wait. Well it was fun and a pain releasing this show but we got it done. Doesn’t look like we’re picking any new shows this season, will concentrate on getting our BD’s and some other stuffs out so watch out for [...]" href="http://feedproxy.google.com/~r/subdesu/RPNF/~3/KvkCm7lqL3Y/">Senran Kagura 12 END</a>
</li>
<li>
<a title="So here you go with the last before the final episode. Good fighting scenes that we’ve got in this episode. Looks like the last episode is going to go with a bang. Anyway let’s get to it now, have fun watching. “In celebration of Senran Kagura: Shinovi Versus selling more than 120,000 units in under [...]" href="http://feedproxy.google.com/~r/subdesu/RPNF/~3/rB-3-V_etmI/">Senran Kagura 11</a>
</li>
<li>
<a title="And here is the 10th episode of the ninja girls. Well looks like it will be over soon, such a shame. Well lets see how things go in this episode. Have fun watching. “In celebration of Senran Kagura: Shinovi Versus selling more than 120,000 units in under a week, the Senran International Academy has started [...]" href="http://feedproxy.google.com/~r/subdesu/RPNF/~3/edW5gJbIsLU/">Senran Kagura 10</a>
</li>
<li>
<a title="It looks like the ova’s that should be made into hentai’s just keeps on coming. Here we have another one that is equally or you could say it’s even more hentai-like than Kagaku na Yatsura. Encoded from a DVDIso thanks to KrauserII… and I heard it will be getting a BluRay release somewhere next month [...]" href="http://feedproxy.google.com/~r/subdesu/RPNF/~3/zOaZiLAvYXY/">Nozoki Ana OVA 01</a>
</li>
<li>
<a title="Finally we’ve caught up! It’s a double episode, made possible by thanks to Denpa, for encoding from .ts for us. Anyway have fun watching. “In celebration of Senran Kagura: Shinovi Versus selling more than 120,000 units in under a week, the Senran International Academy has started their next Community Mission. See the details are here.” [...]" href="http://feedproxy.google.com/~r/subdesu/RPNF/~3/V5un0fiLNwc/">Senran Kagura 08 – 09</a>
</li>
<li>
<a title="  I really wanted to be posted in the H-Anime site cos this is just too much for an ecchi-anime. But hey they call it ecchi so we will also call it ecchi. Enjoy the wincest action. :P ATTENTION: Check the donation thing at the top right of the site if you wanna help the [...]" href="http://feedproxy.google.com/~r/subdesu/RPNF/~3/KyjAZutFi1o/">Kagaku na Yatsura OAD 01</a>
</li>
<li>
<a title="Another episode out here. There is another new ending song, this makes it the third ending song in this series. I wonder how many more will come before the show ends. :) Anyway, lets see what the ninja girls have for us this week. So have fun watching this episode. So we’re collaborating with our [...]" href="http://feedproxy.google.com/~r/subdesu/RPNF/~3/5n9JO_yuFSw/">Senran Kagura 07</a>
</li>
</ul>
</div>
<div class="more">
<a href="http://www.subdesu.org/">View more</a>
</div>
</div>
<div class="list-items">
<div class="h3">Ecchi Desu</div>
<p>
<a href="http://www.subdesu-h.net/category/releases/">Release page</a>
<a href="http://www.subdesu-h.net/category/news/">Jump to news</a>
<a target="_blank" href="http://www.darlinganime.com">DarlingAnime</a>
<a target="_blank" href="http://www.anidb.net">AniDB</a>
<a target="_blank" href="http://haruhichan.com/">Haruhichan</a>
<a target="_blank" href="http://tracker.minglong.org:8080/">MinglongTorrent</a>
<a target="_blank" href="http://www.anirena.com/">AnirenaTorrent</a>
<a target="_blank" href="http://www.en.wikipedia.org">Wikipedia</a>
<a target="_blank" href="http://www.animenewsnetwork.com/">ANN</a>
<a class="set_landing_welcome" href="">Sexy Page</a>
<br>
</p>
</div>
<div id="ft-logo-wrapper">
<div id="ft-mascot">

<%= link_to image_tag("Mascot final2.png") %>

</div>
<div id="ft-logo">
<a style="background-image:url('http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/cgm/ecommerce/subdesu/images/original/logo3.png?1313477797')" href=""></a>
</div>
</div>
</div>
<div id="ft-legal">
<p>
<a href="">SubDESU-H</a>
(Ecchi Desu) since 2009 powered by EroJapan
</p>
</div>
</div>