<div id="global-bar-wrapper">
   <div id="global-bar" class="yui-menu global-bar yui-module yui-overlay yuimenubar visible" style="z-index: 9999; position: static; display: block; visibility: visible;">
      <div class="bd clearfix">
        <ul id="global-bar-list" class="first-of-type">
          <li id="globalbar-menu-signup" class="yuimenuitem yuimenubaritem first-of-type" style="" groupindex="0" index="0">
               <a id="globalbar-signup" class="yuimenuitemlabel yuimenubaritemlabel" width="18" height="18" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=18" alt="" <img=""></a>
               <%= link_to "Edit Profile", edit_user_registration_path %>
         </li>
         <li id="globalbar-menu-login" class="yuimenuitem yuimenubaritem" style="" groupindex="0" index="1">

               <li><%= link_to "log in", new_user_session_path, :class=> 'yuimenuitemlabel yuimenubaritemlabel', :id=> 'globalbar-login' %>
               </li>
               <br />
         </li>

         <li><%= link_to "Logout", destroy_user_session_path, :class=> 'yuimenuitemlabel yuimenubaritemlabel', method: :delete %></li>

         <li id="globalbar-menu-loading" class="yuimenuitem yuimenubaritem" groupindex="0" index="2" style="display: none;">
            <span class="yuimenuitemlabel yuimenubaritemlabel">

               <img src="loading-trans.gif">
            </span>
         </li>
         <li id="globalbar-bottom" class="yuimenuitem yuimenubaritem" groupindex="0" index="3">
               <a class="yuimenuitemlabel yuimenubaritemlabel" title="Jump to bottom of page" href="http://www.subdesu-h.net/#bottom">
                    <img src="http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/images/bottom_arrow.png">
               </a>     
         </li>
         <li id="globalbar-top" class="yuimenuitem yuimenubaritem" groupindex="0" index="4">
               <a class="yuimenuitemlabel yuimenubaritemlabel" title="Jump to top of page" href="http://www.subdesu-h.net/#top">
                    <img src="http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/images/top_arrow.png">
               </a>
         </li>
         <li id="yui-gen0" class="yuimenuitem globalbar-icon yuimenubaritem" groupindex="0" index="5">
               <a class="yuimenuitemlabel yuimenubaritemlabel" title="SubDESU-H AniDB Page" href="http://anidb.net/perl-bin/animedb.pl?show=group&gid=9830" target="_blank" style="background-image:url(http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/icons/icon-anidb.png?1332902159)">
                	
               </a>
         </li>
         <li id="yui-gen1" class="yuimenuitem globalbar-icon yuimenubaritem" groupindex="0" index="6">
               <a class="yuimenuitemlabel yuimenubaritemlabel" title="SubDESU-H via Email" href="http://feedburner.google.com/fb/a/mailverify?uri=subdesu-h_net_main_article_feed_eng" onclick="window.open(\'http://feedburner.google.com/fb/a/mailverify?uri=subdesu-h_net_main_article_feed_eng\', \'popupwindow\', \'scrollbars=yes,width=550,height=520\');return false;" target="_blank" style="background-image:url(http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/icons/icon-email.png?1332902159)">
               	
               </a>
         </li>
         <li id="yui-gen2" class="yuimenuitem globalbar-icon yuimenubaritem" groupindex="0" index="7">
               <a class="yuimenuitemlabel yuimenubaritemlabel" title="SubDESU-H on DeviantArt" href="https://subdesuh.deviantart.com" target="_blank" style="background-image:url(http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/icons/icon-deviantart.png?1332902159)">
               	
               </a>
         </li>
         <li id="yui-gen3" class="yuimenuitem globalbar-icon yuimenubaritem" groupindex="0" index="8">
               <a class="yuimenuitemlabel yuimenubaritemlabel" title="SubDESU-H on LinkedIn" href="http://jp.linkedin.com/pub/darling-amedior/52/216/851/" target="_blank" style="background-image:url(http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/icons/icon-linkedin.png?1332902159)">
               	
               </a>
         </li>
         <li id="yui-gen4" class="yuimenuitem globalbar-icon yuimenubaritem" groupindex="0" index="9">
               <a class="yuimenuitemlabel yuimenubaritemlabel" title="SubDESU-H on YouTube" href="http://www.youtube.com/darlinganime" target="_blank" style="background-image:url(http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/icons/icon-youtube.png?1332902159)">
               	
               </a>
         </li>
         <li id="yui-gen5" class="yuimenuitem globalbar-icon yuimenubaritem" groupindex="0" index="10">
              <a class="yuimenuitemlabel yuimenubaritemlabel" title="SubDESU-H on Pinterest" href="http://www.pinterest.com/subdesu/subdesu-h" target="_blank" style="background-image:url(http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/icons/icon-pinterest.png?1332902159)">
              	
              </a>
         </li>
         <li id="yui-gen6" class="yuimenuitem globalbar-icon yuimenubaritem" groupindex="0" index="11">
              <a class="yuimenuitemlabel yuimenubaritemlabel" title="SubDESU on Anirena" href="http://www.anirena.com/?s=subdesu" target="_blank" style="background-image:url(http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/icons/icon-anirena.jpg?1332902159)">
              	
              </a>
         </li>
         <li id="yui-gen7" class="yuimenuitem globalbar-icon yuimenubaritem" groupindex="0" index="12">
           <a class="yuimenuitemlabel yuimenubaritemlabel" title="SubDESU-H Donation Page" href="http://www.subdesu-h.net/donateinfo/" target="_blank" style="background-image:url(http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/icons/icon-donate.png?1332902159)">
           	
           </a>
         </li>
         <li id="globalbar-search" class="yuimenuitem globalbar-icon yuimenubaritem" groupindex="0" index="13">
             <form id="globalbar-search-form" class="clearfix yuimenubaritemlabel" method="get" action="http://www.subdesu-h.net/">
                <input id="globalbar-search-form-value" class="required" type="text" name="s" value="Search">
                <input id="globalbar-search-form-button" class="go" width="14" type="image" height="21" src="http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/icons/search-button.png?1318405293" alt="Search" title="Search" 3px;="" padding-left:="">
                <input type="hidden" name="language" value="en">
             </form>
         </li>
       </ul>
     </div>
   </div>
</div>
<a id="top-link" name="top"></a>