<div id="hd" class="mg-hd clearfix" style="height: 250px;" role="banner">
    <a id="hd-mascot-link" href=""></a>
	<div id="hd-content" class="clearfix">
		<div id="globalbar-search-window" style="display:none;">
		    <%= link_to image_tag("close-chat.png", id: "globalbar-search-close", title: "Minimize", alt: "Minimize", size: "200x100") %>
		    <div class="h2">Search</div>
		    <form id="globalbar-search-form" class="clearfix" action="http://www.subdesu-h.net/" method="get">
		      <input id="globalbar-search-form-value" class="field" type="text" value="Search" name="s">
		      <input id="globalbar-search-form-button" class="go" width="14" type="image" height="21" title="Search" alt="Search" src="http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/icons/search-button.png?1332902159">
		      <input type="hidden" value="en" name="language">
		    </form>
		</div>
		<div id="mg-logo" class="main-logo">
		    <%= link_to image_tag("logo2.png", alt: "logo", :size => "200x100") %>		    
			<div id="mg-logo-menu" class="logo-menu" style="display: none; bottom: -44px;">
			    <div class="logo-menu-content">
			      <p></p>
			      <ul>
			        <li>
			          <%= link_to "SubDESU Home Page", "http://www.subdesu.org" %>
			        </li>
			      </ul>
			      <p></p>
			    </div>
			</div>
		</div>
		<div id="mg-navigation-wrapper">
		  <%= render 'layouts/navigation' %>
		</div>
    </div>
</div>